# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build-Ordner
dist/
dist-ssr/

# Editor & OS
.vscode/
.idea/
*.log
.DS_Store
*.suo

# Environment-Dateien
.env
.env.local
.env.production

# Fly.io Backups
fly.toml.backup

# ==========================================================
# WICHTIG: Ergänzungen für die daten_pipeline
# ==========================================================

# Python-Cache ignorieren
__pycache__/

*.zip

# Python virtuelle Umgebung ignorieren (das sind die ~17.000 Dateien!)
/backend/daten_pipeline/venv/

# Temporäre Upload- und Entpack-Ordner vom Backend ignorieren
/backend/temp/
/backend/temp_uploads/

# Ergebnisse der lokalen Python-Pipeline ignorieren
/backend/daten_pipeline/output/

# Test-Rohdaten der lokalen Python-Pipeline ignorieren
/backend/daten_pipeline/input/

# Ergebnisse der lokalen Python-Pipeline, die in der Datenbank landen
/backend/daten_pipeline/output_db/
/backend/public_results/*.html
/backend/public_results/*.json

# Debugging-Ordner der lokalen Python-Pipeline ignorieren
/backend/daten_pipeline/debugging/

# Lokale Startinformationen ignorieren'
start_information_local.txt



